.login {
  padding-bottom: 70px;
  min-height: calc(100vh - 277px);

  &__top {
    padding-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background: url(../../assets/img/registration.jpg) no-repeat center / cover;

    h1 {
      margin-top: 20px;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      color: #2fd9b9;
    }
  }

  &__form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 50px;
    background: #202020;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-inner {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-button {
      width: 100%;
      padding: 10px 20px;
      border: 1px solid #2fd9b9;
      border-radius: 12px;
      background: transparent;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      transition: all 0.15s ease-in-out;
      cursor: pointer;

      &:hover {
        background: #2fd9b9;
        color: #202020;
      }
    }
  }
}
