.card {
  width: 335px;
  height: 220px;
  box-shadow: 2px 2px 6px 4px rgba(47, 217, 185, 0.07);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  img {
    width: 335px;
    height: 220px;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  h3 {
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
  }
}
