.settings {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 30px;
  background: #202020;
  border-radius: 12px;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #2fd9b9;
}

.wrapper {
  display: flex;
  gap: 50px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  max-width: 660px;
  padding: 20px;
  border-radius: 12px;
  background: #191919;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2fd9b9;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;

    span {
      color: #a3a3a3;
    }
  }
}
