.breadcrumb {
  ul {
    display: flex;
    align-items: center;
  }
}

.element {
  a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.current {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2fd9b9;
}
