.counter {
  display: flex;
  gap: 5px;
  align-items: center;

  svg {
    cursor: pointer;
    path {
      transition: all 0.15s ease-in-out;
    }
    &:hover path {
      fill: #e5e5e5;
    }
  }
}

.amount {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #2fd9b9;
}
