.input {
  height: 40px;
  width: 300px;
  display: flex;

  input {
    width: 262px;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid #2fd9b9;
    border-radius: 12px 0 0 12px;
    border-right: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #bdbdbd;
    }
  }

  button {
    width: 38px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2fd9b9;
    border-radius: 0 12px 12px 0;
    background: transparent;
    border-left: none;
    cursor: pointer;

    svg path {
      transition: all 0.15s ease-in-out;
    }

    &:hover svg path {
      fill: #e5e5e5;
    }
  }
}
