.profile {
  padding-bottom: 70px;

  &__top {
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 100px;
    background: url(../../assets/img/profile.jpg) no-repeat center / cover;

    h1 {
      margin-top: 20px;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      color: #2fd9b9;
    }
  }

  &__content {
    display: flex;
    gap: 60px;
  }
}
