.search {
  position: relative;

  input {
    padding: 10px 48px 10px 14px;
    border: 1px solid #2fd9b9;
    border-radius: 12px;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    transition: all 0.15s ease-in-out;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #e5e5e5;
    }

    &:focus {
      border: 1px solid lighten(#2fd9b9, 15%);
    }
  }

  &.md {
    input {
      width: 320px;
    }
  }

  &.sm {
    input {
      width: 270px;
    }
  }
}

.button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  border: none;
  background: transparent;
  cursor: pointer;

  svg path {
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    svg path {
      fill: lighten(#2fd9b9, 15%);
    }
  }
}
