.wrapper {
  width: 1260px;
  margin: 0 auto;
  padding-left: 13px;
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #2fd9b9;
  position: relative;

  &::after {
    content: '';
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    top: -13px;
    left: -13px;
    background-color: transparent;
    border: 1px solid #2fd9b9;
    border-radius: 4px;
  }

  &::before {
    content: '';
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: transparent;
    border: 1px solid #2fd9b9;
    border-radius: 4px;
  }
}

.link {
  padding: 8px 40px;
  color: #fff;
  border: 1px solid #2fd9b9;
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #2fd9b9;
    color: #303030;
  }
}
